@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 18px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}